button,
a {
  position: relative;
  &.btn {
    &::after {
      filter: blur(2px);
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.5;
    }
  }
  &.btn-primary {
    background-color: var(--color-primary-500);
    z-index: 1;
    &:hover {
      background-color: var(--color-primary-300);
      color: var(--color-static-white);
    }
    &::after {
      background-color: var(--color-primary-500);
    }
  }
  &.btn-secondary {
    background-color: var(--color-secondary-800);
    color: var(--color-static-white);
    z-index: 1;
    &:hover {
      background-color: var(--color-secondary-500);
      color: var(--color-static-white);
    }
    &::after {
      background-color: var(--color-secondary-800);
    }
  }
  &.btn-tertiary {
    background-color: var(--color-tertiary-500);
    color: var(--color-static-white);
    z-index: 1;
    &:hover {
      background-color: var(--color-tertiary-800);
      color: var(--color-static-white);
    }
    &::after {
      background-color: var(--color-tertiary-500);
    }
  }
  &.btn-primary-link {
    color: var(--color-primary-500);
  }
  & a {
    color: var(--color-static-white);
    text-decoration: none;
    font-weight: 700;
  }
}
