.searchBar {
  margin-top: 40px;
}
datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
}

:not(select) > option{
  padding: 0;
  transform: rotate(-90deg);
}

input[type='range'] {
  margin: 0;
}
