.tags {
  display: flex;
  gap: 5px;
  & .tag {
    color: var(--color-static-white);
    background-color: var(--color-tertiary-800);
    padding: 0px 5px;
    font-size: 14px;
    margin: 0px;
  }
}
