.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  flex-direction: row;
  padding: 0px;
  background: white;
  height: 50px;
  margin: 0px;
  input[type="file"] {
    border: none;
    height: 50px;
    padding: 0px !important;
    &::file-selector-button {
      border: 2px solid var(--color-primary-dark);
      color: var(--color-white);
      border-radius: 2px;
      background-color: var(--color-primary-dark);
      border: none;
      padding: 0px 20px;
      transition: 1s;
      height: 100%;
      &:hover {
        background-color: var(--color-primary-medium) !important;
        border: none;
      }
    }
  }
}
