.dropdown {
  &.hk--custom--select {
    & .dropdown-menu {
      border-radius: 0px;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid var(--color-secondary-800);
      & .dropdown-item.active,
      .dropdown-item:active {
        background-color: var(--color-secondary-800);
      }
    }
  }
}
