 /* .signup__page {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 0 15px;
    width: 100%;
    text-align: center;
  }

  .signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(235, 228, 228);
    border-radius: 20px;
    min-height: 550px;
    color:rgb(36, 161, 161);
  }
.signup__field {
    max-width: 90%;
  }

  /* .signup__submit {
    margin-top: 10px;
    width: 100%;
  } */

 /* .signup__error{
    color: red;
    font-size: 15px;
} */
