.ads-detail-page {
  position: relative;
  background-color: var(--color-static-white);
  border-radius: 8px;
  & .row {
    overflow: hidden;
    & [class*="col-"] {
      margin-bottom: -99999px;
      padding-bottom: 99999px;
      &.image {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 100%;
          height: auto;
        }
      }
      & .ads-info {
        background-color: var(--color-static-white);
        & .stock {
          padding: 20px;
        }
      }
      & .description {
        padding-bottom: 20px;
      }
      & .tags,
      .stock,
      .active,
      .user,
      .favorites {
        border-bottom: 1px solid var(--bs-gray-200);
        padding: 10px 0px;
        & i {
          &:hover {
            color: var(--color-primary-500);
            cursor: pointer;
          }
        }
      }

      & .actions {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
      & .label-info {
        font-weight: 600;
        line-height: 0;
      }
    }
  }
}
