input[type="checkbox"] {
  &.form-check-input:checked {
    print-color-adjust: var(--color-secondary-800) !important;
    background-color: var(--color-secondary-800) !important;
    border-color: var(--color-secondary-800) !important;
  }
}
.form-check-label {
  padding-left: 10px;
}
