.card {
  padding: 0px;
  & .header-card {
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-secondary-800);
    padding: 0px;
    img {
      width: 100%;
      height: auto;
    }
  }
  & .favorites {
    border-bottom: 1px solid var(--bs-gray-200);
    padding: 10px 15px;
    color: var(--color-secondary-500);
  }
  & .card-body {
    &.actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 14px;
      flex-direction: row;
      & a {
        color: var(--color-primary-500);
        text-decoration: none;
        font-weight: 500;
        &:hover {
          color: var(--color-primary-300);
        }
      }
    }
  }
}
@media (max-width: 475px) {
  .card {
    width: 95vw;
  }
}
