.card {
  padding: 0px;
  & .header-card {
    min-height: 250px;
    max-height: 250px;
  }
  & .card-body {
    &.actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 14px;
      flex-direction: row;
    }
  }
}
