footer {
  background-color: var(--color-secondary-800);
  position: absolute;
  left: 0px;
  width: 100vw;
  bottom: -80px;
  .bi {
    color: var(--color-static-white);
    font-size: 24px;
  }
}

@media (max-width: 475px) {
  footer {
    flex-direction: column;
  }
}
