/* ================================
               vars 
   ================================  */
:root {
  --color-static-dark: #222222;
  --color-static-medium: #666666;
  --color-static-light: #fdfdfd;
  --color-static-white: #ffffff;
  --color-secondary-100: #DBF5F6;
  --color-secondary-200: #BAE9ED;
  --color-secondary-300: #89C1CB;
  --color-secondary-400: #5A8A97;
  --color-secondary-500: #264653;
  --color-secondary-600: #1B3747;
  --color-secondary-700: #132A3B;
  --color-secondary-800: #0C1E30;
  --color-secondary-900: #071527;
  --color-tertiary-100: #D5FAE8;
  --color-tertiary-200: #ADF5D8;
  --color-tertiary-300: #7EE1C3;
  --color-tertiary-400: #58C4AD;
  --color-tertiary-500: #2a9d8f;
  --color-tertiary-600: #1E8783;
  --color-tertiary-700: #156B71;
  --color-tertiary-800: #0D4F5B;
  --color-tertiary-900: #083A4B;
  --color-primary-100: #FFF5D7;
  --color-primary-200: #FFE9B0;
  --color-primary-300: #FFD988;
  --color-primary-400: #FFCA6B;
  --color-primary-500: #FFB13A;
  --color-primary-600: #DB8E2A;
  --color-primary-700: #B76E1D;
  --color-primary-800: #935112;
  --color-primary-900: #7A3C0B;
  --color-success-100: #F3FDDB;
  --color-success-200: #E5FBB8;
  --color-success-300: #CFF392;
  --color-success-400: #B7E774;
  --color-success-500: #95D849;
  --color-success-600: #75B935;
  --color-success-700: #589B24;
  --color-success-800: #3F7D17;
  --color-success-900: #2C670E;
  --color-info-100: #D3F8FF;
  --color-info-200: #A9EDFF;
  --color-info-300: #7EDCFF;
  --color-info-400: #5DCAFF;
  --color-info-500: #28ACFF;
  --color-info-600: #1D86DB;
  --color-info-700: #1464B7;
  --color-info-800: #0C4793;
  --color-info-900: #07327A;
  --color-warning-100: #FEF6D4;
  --color-warning-200: #FDEAAA;
  --color-warning-300: #FBDA7F;
  --color-warning-400: #F8CA5F;
  --color-warning-500: #F4B12C;
  --color-warning-600: #D19020;
  --color-warning-700: #AF7116;
  --color-warning-800: #8D550E;
  --color-warning-900: #754108;
  --color-danger-100: #FEEAE8;
  --color-danger-200: #FED1D2;
  --color-danger-300: #FEBAC1;
  --color-danger-400: #FDA9BA;
  --color-danger-500: #FC8DAE;
  --color-danger-600: #D86793;
  --color-danger-700: #B5477D;
  --color-danger-800: #922C68;
  --color-danger-900: #781B5B;
}

/* ================================
               commons - backgrounds
   ================================  */
.bg-primary-300 {
  background-color: var(--color-primary-300);
}

.bg-primary-500 {
  background-color: var(--color-primary-500);
}

.bg-primary-800 {
  background-color: var(--color-primary-800);
}

/* ================================
               commons - radius
   ================================  */
.radius-4 {
  border-radius: 4px;
}

.radius-8 {
  border-radius: 8px;
}

.radius-16 {
  border-radius: 16px;
}

/* ================================
               layout 
   ================================  */

body {
  color: var(--color-black-dark)
}





/* ================================
               forms 
   ================================  */



button:focus:not(:focus-visible){
  outline: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}